* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hero-footer: #1f2937;
  --main-text: #f9faf8;
  --link-second-header-quote-bg: #e5e7eb;
  --hero-logo: #f9faf8;
  --button-call-to-action: #3882f6;
  --information-quote-text: #1f2937;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

/* ************ */
/* Default-styles */
/* ************ */

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ########## */
/* Navigation */
/* ########## */

.main {
  background-color: var(--hero-footer);
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120rem;
  margin: 0 auto;
  padding: 4rem;
  color: var(--main-text);
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.odin-logo {
  font-size: 2.8rem;
}
.nav-links li a {
  font-size: 2rem;
  font-weight: 500;
}

.btn {
  font-size: 1.5rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
  color: var(--main-text);
  background-color: var(--button-call-to-action);
}

/* ########## */
/* Hero */
/* ########## */

.hero {
  background-color: var(--hero-footer);
  height: 100vh;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 140rem;
  margin: auto;
  gap: 9.6rem;
  align-items: center;
  padding: 5rem 9.6rem 0 9.6rem;
}

.hero-img img {
  width: 100%;
  border-radius: 5px;
}

.hero-content h1 {
  font-size: 6.2rem;
  line-height: 1.1;
  font-weight: 800;
  color: var(--main-text);
  margin-bottom: 3.2rem;
  letter-spacing: -2px;
}

.hero-content p {
  font-size: 2rem;
  line-height: 1.6;
  color: var(--main-text);
  margin-bottom: 3.2rem;
}

/* ########## */
/* Random-Section */
/* ########## */
.random-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.6rem;
  padding: 9.6rem;
  max-width: 80rem;
  margin: 0 auto;
}

.box {
  width: 20rem;
  height: 20rem;
  border: 4px solid var(--button-call-to-action);
  border-radius: 5px;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.random-text p {
  font-size: 2rem;
  font-weight: 500;
  color: var(--information-quote-text);
  text-align: center;
  line-height: 1.4;
  margin-top: 1rem;
}

.random-heading h1 {
  text-align: center;
  font-size: 4.6rem;
  text-transform: uppercase;
  color: var(--information-quote-text);
}

.random-heading {
  margin-top: 4.6rem;
}
